[Unit]
Description=Node Exporter
After=network.target

[Service]
User=root
#Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter-1.0.1.linux-amd64/node_exporter --web.listen-address=":9182"

[Install]
WantedBy=multi-user.target